{% extends '@CRUD/edit.html.twig' %}
{% block section_body %}
{% set bundle = Kernel.bundle('EmailBundle') %}
<style type="text/css">
#aceEditor{{frag_serial}} {
    position: relative;
    width: 95%;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>
<div class="action-result-container"> </div>
<form id="form{{frag_serial}}" class="ajax-action" enctype="multipart/form-data" method="POST">

    {% if Record.hasKey %}
      {{RecordAction.renderKeyWidget|raw}}
    {% endif %}

    {{ RecordAction.renderSignatureWidget|raw }}
    {{ RecordAction.renderCSRFTokenWidget|raw }}

    <div class="row">
        <div class="col-md-10">

        <div class="col-field">
        {{ RecordAction.renderField('title',{ size: 35 })|raw }}
        </div>

        {% if Kernel.bundle('I18N') and bundle.config('with_lang') %}
        <div class="col-field">
            {{ RecordAction.renderField('lang')|raw }}
        </div>
        {% endif %}

        <div class="col-field">
        {{RecordAction.renderField('content_type')|raw}}
        </div>

        <div class="col-field">
            {{ RecordAction.renderField('handle',{ size: 24 })|raw }}
        </div>

        <div class="clearfix"> </div>

        <div id="aceEditor{{frag_serial}}">{{Record.content}}</div>

        <div class="hide">
        {{ RecordAction.renderField('content',null, { id: 'textarea' ~ frag_serial })|raw}}
        </div>

        {{ RecordAction.renderField('comment') |raw}}

        <div class="clear"> </div>

        <div class="collapsible collapse-section">
            <h3>其他資訊</h3>
            <div>
                {% include '@CRUD/metadata.html.twig' %}
            </div>
        </div>
    </div>

<script>
var editor = ace.edit("aceEditor{{frag_serial}}");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/twig");
editor.getSession().on('change', function(){
    $('#textarea{{frag_serial}}').val(editor.getSession().getValue());
});
</script>

    <div class="clear"></div>
</form>
<div class="clear"> </div>

{% endblock %}
